.invite button {
  margin-top: 10px;
}

.ig-login button {
  margin-top: 10px;
}

.ig-login .input {
  margin-bottom: 20px;
}

.twoFactor .input {
  margin-bottom: 20px;
}

.checkPoint .input {
  margin-bottom: 20px;
}
