.setup .copy-icon {
  float: right;
  margin-right: 10px;
}

.txt-big {
  height: 315px;
}

.txt-small {
  height: 80px;
}

.mr-sm-2 {
  font-weight: bold;
}

/*
.live_preview {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

.config_page {
  //color: rgb(0, 255, 255);
  color: white;
  mix-blend-mode: difference;
  margin-top: 10px;
}
*/
