.setup .copied-text {
  float: right;
  margin-right: 10px;
  font-weight: 400;
  font-size: 12px;
  cursor: copy;
}

.setup .copy-form {
  cursor: copy;
}

.txt-big {
  height: 315px;
}

.txt-small {
  height: 80px;
}

.setup .copied {
  //background-color: rgba(70, 200, 70, 0.6) !important;
  color: rgba(0, 255, 0, 0.9) !important;
  transition: color 399ms ease-in-out;
}

.mr-sm-2 {
  font-weight: bold;
}

.setup .input {
  margin-bottom: 25px;
}

/*
.live_preview {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

.config_page {
  //color: rgb(0, 255, 255);
  color: white;
  mix-blend-mode: difference;
  margin-top: 10px;
}
*/
