.updates button {
  margin-top: 0px;
  margin-bottom: 20px;
}


.updates::-webkit-scrollbar {
  width: 2px;
}

.updates::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.updates::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.5);
}

.updates {
  overflow-y:scroll;
  overflow-x: hidden;
  height: 85vh;
  padding-right: 5px;

}

.update p {
  margin: 0;
}

.update h4 {
  margin: 0;
  font-weight: bold;
}

.update ul {
  margin: 0;
  padding-left: 20px;
}

.update {
  margin-bottom: 20px;
}

.update .pct-btn {
  margin-left: 3px;
}

.update h6 {
  margin-top: 10px;
}
